:root {
  --clr-primary-100: hsl(0, 36%, 70%);
  --clr-primary-300: hsl(0, 93%, 68%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(0deg 9% 66%);
  --clr-neutral-900: hsl(0, 0%, 0%);

  /* fonts */
  --ff-primary: "Josefin Sans", sans-serif;

  --gradient-primary-100: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  --gradient-primary-300: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--gradient-primary-100);
  font-size: 16px;
  font-family: var(--ff-primary);
  /* min-height: 100vh; */
  height: 100%;
}
img {
  display: block;
  max-width: 100%;
}
#logo {
  width: 8.3em;
}
.hero_img {
  width: 100%;
}
.nav {
  padding: 1.5rem;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.main {
  text-align: center;
  margin: 3.2rem 0;
}
h1 {
  letter-spacing: 0.3em;
  /* line-break: loose; */
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3.5rem;
}
span {
  color: var(--clr-primary-100);
  font-weight: 300;
  display: block;
}
.main_text {
  margin: 0.9em;
  color: var(--clr-primary-100);
  line-height: 1.5rem;
}

.form {
  width: 100%;
  position: relative;
}

input {
  margin: 0px;
  padding: 1.5em;
  width: 100%;
  outline: none;
  height: 45px;
  border: 1px solid var(--clr-neutral-400);
  border-radius: 2rem;
}
input::placeholder {
  font-size: 12px;
  font-family: var(--ff-primary);
  color: var(--clr-primary-100);
}

.btn {
  position: absolute;
  top: 0;
  border-radius: 1.8rem;
  padding: 0.9em 2rem;
  right: 0px;
  z-index: 2;
  border: none;

  cursor: pointer;
  color: white;
  background-color: var(--clr-primary-300);
  transform: translateX(2px);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 601px) {
  body {
    background-image: url(./images/bg-pattern-desktop.svg);
    /* height: 100%; */
    min-height: 100vh;

    display: grid;
    /* grid-template-columns: repeat(7, 1fr); */
    grid-template-columns: 1fr 1fr 2.5rem 2fr;

    grid-template-areas:
      "one one . two "
      /* "one one one one  two two two" */
      "three three . two "
      /* "three three three three two two two"
      "three three three three two two two" */
      /* "four four four four two two two" */
      "four four . two";
  }
  .one {
    grid-area: one;
  }
  .two {
    grid-area: two;
  }
  .three {
    grid-area: three;
  }
  .four {
    grid-area: four;
  }

  .container {
    text-align: left;
    padding: 2rem 3rem;
  }
  .main {
    margin: 0 0;
  }
  .main_text {
    margin: 0 0;
  }
  .hero_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: revert;
  }
}
